:root {
  --primary-color: #064c72;
  --secondary-color: #026c80;
  --tertiary-color: #8db4ad;
  --last-color: #ed6335;
  --border-color-one: #ecae7d;
  --other-color: #e9311a;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  padding: 30px;
  margin-top: 100px;
  max-width: 1800px;
  text-align: center;
  font-display: optional;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
  line-height: 1.5;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

footer {
  text-align: center;
  margin-bottom: 20px;
}

.double-border {
  position: relative;
  border: 5px solid var(--tertiary-color);
  margin-top: 50px;
  border-radius: 18px;
}

.double-border:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 10px;
  border: 5px solid var(--primary-color);
}

.content {
  max-width: 1500px;
  margin: auto;
}

.mini-heading {
  font-size: 96px !important;
  background-image: linear-gradient(
    90deg,
    rgba(2, 105, 124, 1) 0%,
    rgba(227, 167, 120, 1) 56%,
    rgba(224, 47, 24, 1) 100%
  );
  color: transparent;
  -webkit-background-clip: text;
  font-family: "Pacifico", cursive;
  font-display: optional;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-page-header {
  font-family: "Pacifico", cursive;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
  background: var(--secondary-color);
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.text-title {
  font-weight: bold;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
}

.primary-link {
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 5px;
  padding: 20px 15px;
  text-decoration: none;
}

.my-links {
  text-decoration: none;
  color: var(--secondary-color);
  font-family: sans-serif;
  font-size: small;
}

#about-heading {
  margin-top: 15px;
}

@media (max-width: 767px) {
  body {
    text-align: center;
    margin-bottom: 50px;
  }

  footer {
    padding: 20px;
  }

  .paragraph-info {
    padding: 20px;
  }

  .picture {
    display: none;
  }

  .about-page-header {
    font-size: 85px;
  }

  .contact-header {
    font-size: 34px;
  }
}

@media (max-width: 360px) {
  .mini-heading {
    font-size: 75px !important;
  }

  .contact {
    font-size: 24px;
  }
}
